<mat-card *ngIf="team$ | async as team">
  <mat-card-title>
    <div layout="row">
      <span>Team: {{ team.name }}</span>
      <span flex></span>
      <span>Game: {{ team.current_videogame ? team.current_videogame.name : 'none' }}</span>
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout="row" layout-align="center center">
      <img [src]="team.image_url ? team.image_url : 'assets/img/empty-logo.png'" class="logo-team" />
    </div>
    
    <div layout="column" *ngIf="!!team.players">
        <div class="push-md">
          <span class="primary">{{ team.name }}: lineUp for {{ team.current_videogame ? team.current_videogame.name : 'none' }}</span>
        </div>
        <div layout="row" layout-align="space-between start">
          <div *ngFor="let player of team.players">
            <img [src]="player.image_url ? player.image_url : 'assets/img/empty-avatar.png'"  class="player-photo"/>
            <mat-list>
              <mat-list-item><b>Name</b>: {{ player.name }}</mat-list-item>
              <mat-list-item>Firstname: {{ player.first_name }}</mat-list-item>
              <mat-list-item>Lastname: {{ player.last_name }}</mat-list-item>
            </mat-list>
          </div>
        </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="['/team']" color="accent">Back to list</button>
  </mat-card-actions>
</mat-card>