<div layout="row" layout-align="end center" flex>
  <button mat-icon-button matTooltip="Log in">
    <mat-icon fontSet="fas" fontIcon="fa-sign-in-alt"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Dashboard">
    <mat-icon fontSet="fas" fontIcon="fa-chart-line"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Administration">
    <mat-icon fontSet="fas" fontIcon="fa-terminal"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Satisfaction">
    <mat-icon fontSet="fab" fontIcon="fa-gratipay"></mat-icon>
  </button>
</div>
