<div layout="row" layout-align="center center">
  <mat-card>
    <div class="bgc-blue-500 pad tc-grey-50">
      <h3>iPPM Digital Training Program</h3>
      <p>
        The Digital Training is designed to allow all iPPM users to get trained at their own pace. Click on the tile to access a topic. 
      </p>
      <p>
        iPPM November 2017 Release is in production. Digital training is currently being updated to reflect new features and new ways of working. 
      </p>
    </div>
    <div layout="row" layou="center center">
      <mat-card flex="30">
        <mat-card-title>
          View Portofolio from BU to SO
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura, ita contracta res est et adducta in angustum ut omnis caritas aut inter duos aut inter paucos iungeretur.
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">See more</button>
        </mat-card-actions>
      </mat-card>
      <mat-card flex="30">
        <mat-card-title>
          View Capacity Planning
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          Post haec Gallus Hierapolim profecturus ut expeditioni specie tenus adesset, Antiochensi plebi suppliciter obsecranti ut inediae dispelleret metum, quae per multas difficilisque causas adfore iam sperabatur, non ut mos est principibus, quorum diffusa potestas localibus subinde medetur aerumnis, disponi quicquam statuit vel ex provinciis alimenta transferri conterminis, sed consularem Syriae Theophilum prope adstantem ultima metuenti multitudini dedit id adsidue replicando quod invito rectore nullus egere poterit victu.
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">See more</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>