<!-- app.component.html -->
<mat-sidenav-container class="container">
  <mat-sidenav class="z-depth-2" #sidenav mode="side">
    <esls-sidenav></esls-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- header here -->
    <esls-header (sidenavToggled)="toggleSidenav($event)"></esls-header>
    <esls-nav></esls-nav>

    <div layout="row" layout-align="center stretch"> 
      <div layout="column" flex="20">
        <esls-team></esls-team>
      </div>

      <!-- Router Outlet here -->
      <router-outlet></router-outlet>
      
      <div layout="column" flex="20">
        <esls-actuality></esls-actuality>
      </div>
    </div>

    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption"><a mat-button href="http://activ-way.com" target="_blank">Esport Flash Resultat</a> &copy; 2018</span>
        <span class="mat-caption" flex>Contact Us</span>
      </div>
    </td-layout-footer>
  </mat-sidenav-content>
</mat-sidenav-container>