.logo-match{
    height: 25px; 
    margin-right: 20px;
    vertical-align: middle;
}

.logo-team{
    height: 20px; 
    margin-right: 10px;
    vertical-align: middle;
}

.mat-divider-inset{
    margin-top:8px !important;
    margin-bottom: 8px !important;
}